.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

.breadcrumb {
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 20px;
  padding: 16px 0;
  background: none;
  font-size: 14px;
  a {
    color: #777d86;
  }
}

.breadcrumb-item.active {
  color: #6d5954;
}