<header class="header navbar navbar-expand">
    <a class="header__logo navbar-brand" href="./" aria-label="GI Chests"></a>
    <nav class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="header__link nav-link" href="#">Server</a>
            </li>
            <li class="nav-item">
                <a class="header__link nav-link" href="#">Jira</a>
            </li>
            <li class="nav-item">
                <a class="header__link nav-link" href="#">Wiki</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <div class="header-search">
                <input class="header-search__input form-control" type="text" placeholder="Search or jump to..." aria-label="Search">
                <button class="header-search__icon"><span class="oi oi-magnifying-glass"></span></button>
            </div>
        </form>
    </nav>
</header>