<div class="sidebar">
    <div class="sidebar__container">
        <div class="sidebar__menu">
            <div class="sidebar-menu">
                <ul class="sidebar-menu__list list-unstyled">
                    <li><a href="#"><span class="sidebar-menu__icon oi oi-home"></span> Home</a></li>
                    <li data-toggle="collapse" data-target="#collapseOne" class="sidebar-menu__sub-item collapsed" aria-expanded="false"><span><span class="sidebar-menu__icon oi oi-grid-two-up"></span> Assets</span></li>

                    <li id="collapseOne" class="collapse">
                        <ul class="list-unstyled">
                            <li><a href="#">Ачивки</a></li>
                            <li><a href="#">Сундуки</a></li>
                            <li><a href="#">Цвета</a></li>
                        </ul>
                    </li>

                    <li><a href="#"><span class="sidebar-menu__icon oi oi-people"></span> Members</a></li>
                </ul>
            </div>
        </div>
        <div class="sidebar-resize">
            <button class="sidebar-resize__button"></button>
        </div>
    </div>
</div>

{#<div class="nav-side-menu">#}
{#    <div class="brand">Brand Logo</div>#}
{#    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>#}

{#    <div class="menu-list">#}

{#        <ul id="menu-content" class="menu-content collapse out">#}
{#            <li>#}
{#                <a href="#">#}
{#                    <i class="fa fa-dashboard fa-lg"></i> Dashboard#}
{#                </a>#}
{#            </li>#}

{#            <li  data-toggle="collapse" data-target="#products" class="collapsed active">#}
{#                <a href="#"><i class="fa fa-gift fa-lg"></i> UI Elements <span class="arrow"></span></a>#}
{#            </li>#}
{#            <ul class="sub-menu collapse" id="products">#}
{#                <li class="active"><a href="#">CSS3 Animation</a></li>#}
{#                <li><a href="#">General</a></li>#}
{#                <li><a href="#">Buttons</a></li>#}
{#                <li><a href="#">Tabs & Accordions</a></li>#}
{#                <li><a href="#">Typography</a></li>#}
{#                <li><a href="#">FontAwesome</a></li>#}
{#                <li><a href="#">Slider</a></li>#}
{#                <li><a href="#">Panels</a></li>#}
{#                <li><a href="#">Widgets</a></li>#}
{#                <li><a href="#">Bootstrap Model</a></li>#}
{#            </ul>#}


{#            <li data-toggle="collapse" data-target="#service" class="collapsed">#}
{#                <a href="#"><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span></a>#}
{#            </li>#}
{#            <ul class="sub-menu collapse" id="service">#}
{#                <li>New Service 1</li>#}
{#                <li>New Service 2</li>#}
{#                <li>New Service 3</li>#}
{#            </ul>#}


{#            <li data-toggle="collapse" data-target="#new" class="collapsed">#}
{#                <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>#}
{#            </li>#}
{#            <ul class="sub-menu collapse" id="new">#}
{#                <li>New New 1</li>#}
{#                <li>New New 2</li>#}
{#                <li>New New 3</li>#}
{#            </ul>#}


{#            <li>#}
{#                <a href="#">#}
{#                    <i class="fa fa-user fa-lg"></i> Profile#}
{#                </a>#}
{#            </li>#}

{#            <li>#}
{#                <a href="#">#}
{#                    <i class="fa fa-users fa-lg"></i> Users#}
{#                </a>#}
{#            </li>#}
{#        </ul>#}
{#    </div>#}
{#</div>#}